<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>TEST</title>
  <link rel="stylesheet" type="text/css" href="css/reset.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/jquery-1.11.1.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="js/template.js"></script>
  <script src="js/script.js"></script>
</head>

<body>

  <script type="text/template" id="test">
    <div class="wrapper">
      <form>

      <h2>Тест</h2>

        <% for(var i = 0; i < data.length; i++) { %>


          <h4>№<%=i+1%> <%= data[i].questions %></h4>
          <ul class="block_answer<%=i%>">
            <% for ( var j = 0; j < data[i].answers.length; j++ ) { %>
            <li>
              <label for="checkbox<%=+i%><%=+j%>">
                <input type="checkbox" id="checkbox<%=+i%><%=+j%>"  value="<%=+i%><%=+j%>">
                <span><%=data[i].answers[j]%></span>
          </label>
        </li>
        <% } %>
      </ul>


    <% }; %>


<input  class="reset" type="reset" name="" value="Сброс">

  </form>
<div class="button">
    <input type="submit" value="Проверить">
  </div>
</div>

<div class="modal">
  <div class="meseg">
    <div class="exit">х</div>

    <div class="notification">
    </div>
    <a href="index.html" class="repeat">Повторить</a>
  </div>
</div>
</script>





</div>
</body>

</html>